akad_sprav_spo RCDATA "akad_sprav_spo.fr3"
akad_sprav_vo RCDATA "akad_sprav_vo.fr3"
attestat RCDATA "attestat.fr3"
diplom_nepoln_vo RCDATA  "diplom_nepoln_vo.fr3"
diplom_npo RCDATA  "diplom_npo.fr3"
diplom_so RCDATA  "diplom_so.fr3"
diplom_vo RCDATA  "diplom_vo.fr3"
disc_list RCDATA  "disc_list.fr3"
pril_attestat RCDATA  "pril_attestat.fr3"
pril_nepoln_vo RCDATA  "pril_nepoln_vo.fr3"
pril_npo RCDATA  "pril_npo.fr3"
pril_spo RCDATA  "pril_spo.fr3"
pril_svid_ur RCDATA  "pril_svid_ur.fr3"
pril_vo RCDATA  "pril_vo.fr3"
svid_ur_kval RCDATA  "svid_ur_kval.fr3"
tabl_disc  RCDATA "tabl_disc.fr3"
